/*Add your CSS*/
.body {
  display flex: center;
  width: 100%
  height: "";
  background-position:

}

.logo {
  width: "";
  left: "";
  background-color: black;
  background-position: center;

}
#map {
  display: flex;
  width: 700px;
  height: 500px;
  background-color:

}
